@font-face {
    font-family: 'corona';
    src: url('../fonts/corona.eot');
    src: url('../fonts/corona.eot?#iefix') format('embedded-opentype'),
      url('../fonts/corona.woff') format('woff'),
      url('../fonts/corona.ttf') format('truetype'),
      url('../fonts/corona.svg#providence-bold') format('svg');

  }


.fullScreenHome {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 40vw 20vw 40vw;
    grid-template-rows: 40fr 50fr;
}
.titleHome {
    grid-column-start: 1;
    grid-column-end: end;

    grid-row-start: 1;
    grid-row-end: 2;

    text-align: center;
}
.titleHome h1 {
    font-family: 'corona';
    font-size: 5em;
    color: #0d1d51;
    text-align: center;
    font-weight: lighter;
}
.titleHome h2 {
    font-family: 'corona';
    font-size: 3em;
    color: #0d1d51;
    text-align: center;
    font-weight: lighter;
}
.titleHome img {
    width: 20%;
}

@media screen and (max-width: 600px) {
    .titleHome img {
        width: 50%;
    }
} 


.menuHome {
    grid-column-start: 1;
    grid-column-end: end;

    grid-row-start: 2;
    grid-row-end: 3;

    background-color: #0d1d51;
    text-align: center;
}
.menuHome ul {
    padding: 30px;
    list-style: none;
}
.menuHome li {
    padding: 15px;
}
.menuHome button {
    width: 300px;
    height: 100px;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
}
.menuHome a {
    color:  white;
    text-decoration: none;
    font-size: 2em;


}
.menuHome button:hover {
    background-color: #00509d;
}

.footerHome {
    display: grid;
    min-height: 10vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    width: 100vw;
    background-color: #00509d;
    text-align: center;


}
.footerBar {
    display: flex;
    flex-direction: row;

    height: auto;
    background-color:transparent;
    justify-content: center;   

}
.footerHome h3 {
    color: white;
    font-size: 1.5em;
    padding: 15px
}
