body {
    background-color: #0d1d51;
    font-family: sans-serif;
}

.fullScreenSpillKort {
    display: grid;
    min-height: 80vh;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.2fr 0.6fr;

    background-color: white;
    margin: 5%;
    border-radius: 10px;
}
.hjemKnapp {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

    padding: 15px;
}
.hjemKnapp img {
    width: 20%;
}
@media screen and (max-width: 600px) {
    .hjemKnapp img {
        width: 100%;
    }
}

.titleKort {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    background-color:transparent;
}
.beskrivelseKort {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: end;

    background-color:transparent;
    justify-content: center;
}
.beskrivelseKort h1 {
    text-align: center;
    padding: 15px;
    font-size: 36px;
    margin-bottom: 15px;
}
.beskrivelseKort p {
    font-size: 18px;
    padding: 15px;
    text-align: center;
}
.forrige {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: end;

    background-color: transparent;
    display: flex;
    text-align: center;
}
.forrige a {
    align-self: center;
}
.forrige a img {
    width: 40%; 
}
@media screen and (max-width: 600px){
    .forrige a img {
        width: 100%;
    }
}
.neste {
    grid-column-start: 3;
    grid-column-end: end;

    grid-row-start: 1;
    grid-row-end: end;

    background-color: transparent;
    display: flex;
    text-align: center;
}
.neste a {
    align-self: center;

}
.neste a img {
    width: 40%;
}
@media screen and (max-width: 600px){
    .neste a img {
        width: 100%;
    }
}