* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.navbar {
    display: flex;
    flex-direction: row;

    height: auto;
    background-color:darkslategray;
    justify-content: center;
    padding: 15px;
}

.footerHome {
    display: grid;
    min-height: 10vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    width: 100vw;
    background-color: #00509d;
    text-align: center;

}
.socialMenu {
    display: flex;
    min-height: 10vh;
    flex-direction: column;
    text-align: center;
}
.someIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}
.someIcons h3 {
    color: white;
    font-size: 1.25em;
    padding: 15px;
    margin-right: 60px;
}
.someIcons i {
    color: white;
    font-size: 1.5em;
    border-radius: 50%;
    padding: 15px;
}
.someIcons i:hover {
    font-weight: bold;
}

